@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(178, 186, 255, 1);
  --black: #000;
  --lightblack: rgba(255, 255, 255, 0.1);
  --white: #fff;
  --gray: rgba(230, 230, 230, 1);
  --blue: #6776ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

tbody tr:nth-child(odd){
  background-color: var(--gray);
}
